.card-cintainer{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin: 2%;
}
.container__discount{
    background-color: black;
    color: white;
}
.container__total{
    color: black;
    font-size: large;
    font-weight: 600;
}
.shopping-cart{
    margin: 3%;
}
.card{
    margin-left: 3%;
}

